<!-- begin pirate form -->
<div>
    <form ng-submit="submitPirate(newPirate)" name="pirateForm">
        <div class="form-group" ng-class="{'has-error': postForm.title.$invalid && !postForm.title.$pristine, 'has-success': postForm.title.$valid}">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="yer name" ng-model="newPirate.name" ng-required="true">
        </div>
        <div class="form-group" ng-class="{'has-error': postForm.title.$invalid && !postForm.title.$pristine, 'has-success': postForm.title.$valid}">
            <label for="poison">Poison</label>
            <input type="text" class="form-control" id="poison" placeholder="pick yer poison" ng-model="newPirate.poison" ng-required="true">
        </div>
        <div class="form-group" ng-class="{'has-error': postForm.title.$invalid && !postForm.title.$pristine, 'has-success': postForm.title.$valid}">
            <label for="accessory">Accessory</label>
            <input type="text" class="form-control" id="accessory" placeholder="what have ye?" ng-model="newPirate.accessory" ng-required="true">
        </div>
        <div class="form-group" ng-class="{'has-error': postForm.title.$invalid && !postForm.title.$pristine, 'has-success': postForm.title.$valid}">
            <label for="image">Image URL</label>
            <input type="ext" class="form-control" id="image" placeholder="mugshot" ng-model="newPirate.image_url" ng-required="true">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<!-- end pirate form -->
